body {
    margin: 0;
    padding: 0;
}

.table-responsive {
    width: 100%;
    margin-bottom: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #521769;
    color: white;
    padding: 10px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.footer-logo {
    width: 100px;
    height: auto;
}
